*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: rgb(77, 77, 77);
}


/* Logo, Title, Menu */
.navAndLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoTitle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    padding: 25px;
}
.navbar{
    width: 67%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(2, 169, 27);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(2, 169, 27);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

/* Add Committment Button CSS */
.addButton {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    font-size: medium;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid rgb(2, 169, 27);
    background: transparent;
    color:rgb(2, 169, 27);
    cursor: pointer;
    position: relative;
    left: 100px;
    overflow: hidden;
}
.addHover {
    background: rgb(2, 169, 27);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
    border: none;
}
button:hover span{
    border: none;
}
button:hover {
    color: #fff;
}

/* Add Committment Pop-up Code */
.popModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
}
.popModalContent {
    width: 700px;
    height: 600px;
    background-color: rgb(77, 77, 77);
    border-radius: 25px;
    border: 4px solid rgb(2, 169, 27);
    text-align: center;
    padding: 20px;
    position: relative;
}
input {
    display: block;
    margin: 20px auto;
    height: 20px;
}
.nameInput {
    width: 200px;
}
.currencyInput {
    width: 100px;
}
.noteInput {
    width: 400px;
}
.closeButton {
    position: absolute;
    top: 0px;
    right: 14px;
    font-size: 42px;
    color: rgb(2, 169, 27);
    transform: rotate(45deg);
    cursor: pointer;
}
.submitCommitmentButton {
    width: 100px;
    padding: 5px 0;
    text-align: center;
    font-size: medium;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid rgb(2, 169, 27);
    background: transparent;
    color:rgb(2, 169, 27);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

/* TODO Hover is not working for this button?? */
/* button:hover span{
    width: 100%;
    border: none;
}
button:hover span{
    border: none;
}
button:hover {
    color: #fff;
} */

